<html>
<head>
<link href="stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1 class="header"> IIIT Bangalore </h1>

<ul class="a">
  <li><a class="active" href="./">Home</a></li>
  <li><a href="./faculty">Faculty</a></li>
  <li><a href="./courses">Subjects</a></li>
  <li><a href="./students">Students</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Properties</a>
    <div class="dropdown-content">
      <a href="./inverse">Inverse</a>
      <a href="./symmetric">Symmetric</a>
      <a href="./transitive">Transitive</a>
      <a href="./functional">Functional</a>
    </div>
  </li>
</ul>

</style>
</head>

<body>
  
<h2>Triples with Functional Property</h2>

  <h2>Students Record</h2>
  <table id="customers">
  <tr>
    <th>Student Name</th>
    <th>Programme</th>
  </tr>
  <% Enrolled.forEach(function(student){ %>
    <tr>
      <td><%= student.stu_name %></td>
      <td><%= student.course_name %></td>
    </tr>
  <% }) %>
  </table>


</body>
</html>